body {
    padding: 1em;
    font-family: "Open Sans", sans-serif;
    background: rgb(92, 91, 91);
    color: white;
}

.btn-sm {
    margin-top: 1em;
}

.product {
    height: 14em;
    width: 15em;
    margin-bottom: 1em;
}

#products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: center;
    color: #201e1e;
}

.card-header {
    text-transform: uppercase;
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    text-transform: uppercase;
    color: #1d1d1d;
    margin-top: auto;
}
